footer {
    background-color: #1B1725;
  
    width: 100%;
    bottom: 100%;
}






body { margin: 0; padding: 0;
    
    

}


@media (max-width: 100%) {
   
}

.foot-container{
    width: 100%;
    padding-bottom: 0px;
    
}
.footer-content {
    display: flex;
   
    justify-content: space-between;
    border-color: aliceblue;
    flex-direction:row; 

}




.footer-content p{
    color: #ffffff

}


.footer-content .country{
   justify-content: flex-end;
    padding-right: 3dvh;
}

.footer-content  .copyright{
    
   
    justify-content: flex-start;
    padding-left: 1dvh;
   
} 

.country,
.copyright {
    display: flex;
    align-items: center; 
    padding-top: 1dvh;
    font-size: 1dvh;
   
    
}
