@font-face {
  font-family: allianceNo2;
  src: url(/view/fonts/allianceno2.woff) format('woff');
}

#content{
    position: relative;
    margin-top: 50px;
  }
    
  body{
      background-color: #534B62;
      font-family: allianceNo2!important; 
    }
  
  
 

  .card-img {
    max-height: 300px; /* Adjust the value based on your preference */
    max-width: 400px;
    object-fit: scale-down;
    width: auto;
  }
  
  
  .login-button{
    background-color: rgb(122, 122, 122);
    color: white;
    font-size: 12px;
    padding: 10px 20px;
    border-radius: 40px;
    transition: 0.4s background-color;;
  }
  .login-button:hover{
    background-color: rgb(27, 27, 27);
  }
  
  .navbar-toggler{
    border: none;
    font-size: small;
  }
  
  .navbar-toggler:focus, .btm-close:focus{
    box-shadow: none;
    outline: none;
  }
  
  .nav-link{
    color: black;
    font-weight:  500px; ;
    position: relative;
  }
  
  .bi {
    color: black;
    font-weight:  500px; ;
    position: relative;
  
  
  }
  .nav-link:hover, .nav-link.active{
    color: rgb(157, 157, 157);
  
  }
  
  .nav-item{
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .section h2, .section p{
    color: grey;
    margin: 10px;
    text-align: center;
  
  }
  
  .flex-equal > * {
    flex: 1;
  }
  
   
  
  .login{
    text-decoration: none;
  }


