@font-face {
  font-family: allianceNo2;
  src: url(/view/fonts/allianceno2.woff) format('woff');
}

#content{
    position: relative;
    margin-top: 50px;
  }
    
  body{
      background-color: #534B62;
      font-family: allianceNo2,  Arial, Helvetica, sans-serif !important;
      
    }
  
      
  .flex-equal > * {
    flex: 1;
  }
  
  

  .card-container {
    display: flex;
    justify-content: space-between;
}

.card-container .card {
  flex: 1 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 275px; 
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container .Components-card-img-top {
  display: block; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 5px;
  width: 130px; 
  height: auto; 
}

.card-container .CPUs-card-img-top {
  display: block; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 5px;
  width: 130px; 
  height: auto; 
}

.card-container .CPUs-text {
  margin-top: 28px;

}

.card-container .Cards-text {
  margin-top: 18px;

}

.card-container .Storage-text {
  margin-top: 30px;

}



.card-container .Cards-card-img-top {
  display: block; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 5px;
  width: 135px; 
  height: auto; 
}


.card-container .Cases-card-img-top {
  display: block; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 5px;
  width: 130px; 
  height: auto; 
}


.card-container .Memory-card-img-top {
  display: block; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 5px;
  width: 175px; 
  height: auto; 
}


.card-container .Storage-card-img-top {
  display: block; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  padding: 5px;
  width: 175px; 
  height: auto; 
}



.card-container .card:hover {
  transform: scale(1.03); 
  transition: transform 0.3s ease-in-out; 

}

.card{
  background-color: #A499B3!important; /*Requires important to change color */


}

  #largeCard{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #A499B3;
    border-radius: 15px;
}


.largeCard .card {
    margin: 0;
}

hr {
    height: 20px;
}

#LearnMore-Link{
  font-size: 30px;
  margin-right: auto;
  color: #D0BCD5 ;
}

#LearnMore-Link:hover{
  color: #A499B3;
}

footer{
  width: 100%;
}
