@font-face {
    font-family: allianceNo2;
    src: url(/view/fonts/allianceno2.woff) format('woff');
  }
  
/* login.css */
p {
    font-family: allianceNo2,  Arial, Helvetica, sans-serif!important;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
}

input[type="submit"] {
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #000000,#ffffff);
    font-weight: bold;
}

a {
    font-family: allianceNo2,  Arial, Helvetica, sans-serif!important;
}

body {
    font-family: allianceNo2,  Arial, Helvetica, sans-serif!important;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

h2 {
    text-align: left;
}

.login {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0px auto;
}

.login-image {
    width: 800px;
    margin: 0px auto;
    padding: 0px;
    background-color: #534B62;
    align-content: left;
    text-align: center;
}

.login-form {
    width: 400px;
    margin: 0px auto;
    padding: 20px;
    background-color: #534B62;
    align-content: right;
    text-align: center;
}

.error {
    color: #ff0000;
}