@font-face {
  font-family: allianceNo2;
  src: url(/view/fonts/allianceno2.woff) format('woff');
}

.navbar{
  background-color: #1B1725;
  font-family: allianceNo2,  Arial, Helvetica, sans-serif!important;
}

.login-button{
  background-color: #3b2d5e;
  color: white;
  font-size: 12px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.4s background-color;;
  text-decoration: none;
}
.login-button:hover{
  background-color: rgb(27, 27, 27);
  color: white;
}


.navbar-toggler{
  border: none;
  font-size: small;
}

.navbar-toggler:focus, .btm-close:focus{
  box-shadow: none;
  outline: none;
}

.nav-link{
  color: white;
  font-weight:  500px; ;
  position: relative;
}

.bi {
  color: white;
  font-weight:  500px; ;
  position: relative;
}
.nav-link:hover, .nav-link.active{
  color: rgb(255, 255, 255);

}

.nav-item{
  padding-left: 20px;
  padding-right: 20px;
}

/*
 * Remove padding for when class is nav-link AND bi
 */
.nav-link.bi{
  padding: 0;
}