@font-face {
    font-family: allianceNo2;
    src: url('/view/fonts/allianceno2.woff') format('woff');
}

body, header, main, footer {
    background-color: #534B62;
    font-family: allianceNo2, Arial, sans-serif;
    color: #1D1D1F;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding-top: 80px;
}

.main-product-box, .recommended-product-box {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    background-color: #534B62;
    padding: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 1);
}

.product-image {
    flex: 0 1 350px;
    margin-right: 20px;
    background-color: #A499B3;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.product-image img {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 8px;
}

.product-details {
    flex: 1 1 200px;
    background-color: #534B62;
    padding: 20px;
    border-radius: 8px;
    color: #FAF0CA;
    text-align: right;
}

.product-details h2, .product-details p, .product-price {
    margin: 0 0 10px 0;
}

.product-price {
    font-size: 24px;
    color: #6E6E73;
    border-bottom: 1px solid #6E6E73;
    padding-bottom: 10px;
}

.add-to-basket-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.quantity-input {
    width: 100px; /* Adjusted width */
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #a1a1a1;
    border-radius: 4px;
    text-align: right;
}

.add-to-basket-btn {
    padding: 10px 15px;
    background-color: #0071e3;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.add-to-basket-btn:hover {
    background-color: #0056b3;
}

.recommendation-section {
    text-align: center;
   margin-top: 40px; 
   margin-bottom: 10px;
    padding: 40px;
    background-color: #534B62;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recommendation-section h2 {
    font-size: 36px;
    color: #d8d3d3;
    margin-bottom: 6px;
    display: inline-flex; /* Change from flex to inline-flex */
    align-items: center;
    position: relative;
}

.recommendation-section h2::before,
.recommendation-section h2::after {
    content: "";
    background-color: #FAF0CA; /* Line color */
    height: 4px; /* Line thickness */
    width: 40%;
     /* Adjust the width to control the line length */
    position: absolute;
}

.recommendation-section h2::before {
    left: 20;
    margin-left: -50%;
}

.recommendation-section h2::after {
    right: 0;
    margin-right: -50%;
}

.recommended-products-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

    .recommended-product-box {
        background-color: #534B62;
        padding: 11px;
        border-radius: 8px;
        margin: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
        width: 375px;
        height: 325px;
    }

    .recommended-product-image img {
        width: 200px;
        height: 190px;
        border-radius: 8px;
        background-color: #D0BCD5;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    }

    .recommended-product-details {
        text-align: center;
        color: #FAF0CA; /* Ensures text color matches the "You Might Also Like" title */
        margin: 10px 0;
    }


    footer {
        background-color: #F5F5F5F7;
        color: #1D1D1F;
        text-align: center;
        padding: 1em;
        position: relative;
        width: 100%;
        height: auto;
    }

    @media only screen and (max-width: 768px) {
        .main-product-box, .recommended-product-box {
            flex-direction: column;
            align-items: center;
        }

        .product-image, .product-details {
            flex: 1 1 auto;
            margin: 0;
        }

        .recommendation-section h2::before,
        .recommendation-section h2::after {
            width: 30px; /* Adjust for smaller screens */
            margin: 0 10px; /* Closer to the text */
        }
    }

    @media only screen and (max-width: 480px) {
        .product-details, .recommendation-section h2, .recommended-product-details h5 {
            padding: 10px;
            text-align: center;
        }

        .add-to-basket-form {
            width: 100%;
            padding: 0 20px;
        }

        .form-group {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .quantity-input {
            width: 50%; /* Adjust the width for very small screens */
            margin-bottom: 15px;
        }

        .add-to-basket-btn {
            width: 100%;
            margin-top: 10px;
        }

        .recommended-product-box {
            width: 100%;
            max-width: 320px;
            margin: 10px 0;
        }

        .recommended-product-image img {
            width: 100%;
            max-width: 190px;
        }
    }
