@font-face {
    font-family: 'San Francisco';
    src: local('San Francisco'), local('SF-Pro-Display-Regular'), url(/view/fonts/SF-Pro-Display-Regular.woff2) format('woff2');
}

body {
    font-family: 'San Francisco', Arial, sans-serif!important;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header, footer {
    background-color: #ffffff;
    color: #000;
    padding: 1em 0;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.product-box {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.product-image {
    width: 100%;
    height: auto;
    max-width: 300px;
    background-color: #e0e0e0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.product-image:after {
    content: '[PRODUCT Image]';
    text-align: center;
    font-size: 20px;
    color: #a0a0a0;
}

.product-details {
    text-align: center;
}

.product-details h2, .product-details .product-price {
    color: #000;
}

.product-description, .recommendation-section, .recommendation-section h2 {
    display: none; /* Hide elements not visible in the screenshot */
}

.add-to-basket {
    background-color: #007aff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.add-to-basket:hover {
    background-color: #0051a8;
}

footer {
    background-color: #323131;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
}

.recommended-products {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.recommended-products .product-box {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    padding: 10px;
    border-radius: 4px;
    width: 30%;
    text-align: center;
}

.recommended-products .product-box img {
    width: 100%;
    border-radius: 4px;
    display: block; /* Ensures images are block-level for proper spacing */
}

.recommended-products .product-details h5, .recommended-products .product-price {
    display: block;
    color: #000;
    margin: 5px 0;
}

@media only screen and (max-width: 768px) {
    main {
        margin: 10px;
    }

    .recommended-products {
        flex-direction: column;
    }

    .recommended-products .product-box {
        width: 100%;
        margin-bottom: 20px;
    }
}
