/* products.css */
@font-face {
  font-family: allianceNo2;
  src: url(/view/fonts/allianceno2.woff) format('woff');
}

body{
  font-family: allianceNo2,  Arial, Helvetica, sans-serif!important;
  background-color: #534B62 !important;
  
}

/* Style for the product cards */
.card {
    margin-bottom: 20px;
    background-color: #A499B3 !important;
  }
  
  /* Style for the product images */
  .card-img {
    max-height: 200px; /* Adjust the value based on your preference */
    max-width: 400px;
    object-fit: scale-down;
    width: auto;
  }
  
  /* Center the product title in the card */
  .card-title {
    text-align: center;
  }
  
  /* Style for the product description */
  .card-text {
    margin-bottom: 10px;
  }
  
  /* Style for the "Product Page" button */
  .btn-primary {
    display: block;
    margin: 0 auto;
    background-color: #1b1725 !important; /* Dark purple color */
    color: #ffffff !important; /* White text color */
    border: 1px solid #000000 !important; /* Black border */
  }
  
/* Hover effect for product cards */
.card:hover {
  background-color:  #B3A4C9 !important; /* Slightly lighter shade for hover effect */
  border: 1px solid #000000 !important; /* Optional: adds a subtle border on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); /* Adds shadow for a lifted effect */
  transform: scale(1.03);
  cursor: pointer;
  
}

/* Hover effect for "Product Page" button */
.btn-primary:hover {
  background-color: #534B62 !important; /* Darker shade for button hover */
  color: #ffffff; /* Keep text color white for contrast */
  border: 1px solid #000000; /* Adds a white border for better visibility */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  transform: scale(1.03);
  
}

.card:hover , .btn-primary:hover{
  transition: background-color 0.3s ease-in-out, transform 0.6s ease-in-out;
}

/* On smaller screens make btn-primary full width */
@media (max-width: 700px) {
  .btn-primary {
    width: 100%;
  }
}