@font-face {
    font-family: allianceNo2;
    src: url(/view/fonts/alliaceno2.woff) format('woff');
    }

/* register.css */
p {
    font-family: allianceNo2, Arial, Helvetica, sans-serif!important;
    text-align: left; 
}

